

html {
	scroll-behavior: smooth
}

.scrolling-wrapper {
	&::-webkit-scrollbar {
		display: none;
	}
}

.scrolling-wrapper {
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	width: 10px;
	height: 3px;
}

::-webkit-scrollbar-track {
	background: #f4f4f4;
}

::-webkit-scrollbar-thumb {
	background: #dbdbdd;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #fa716e;
}

:root {
  --rojo-cv: #eb4e4a;
  --rojo-medio: #fc706a;
  --rojo-claro: #ffcbc9;
  --rojo-muyclaro: #ffdfde;

  --amarillo-cv: #efe24c;
  --amarillo-muyclaro: #f7ec92;
  --amarillo-claro: #f7ec92;
  --amarillo-medio: #f4e56d;
  

  --blanco: #fcfcfc;
  --negro: #1f1f1f;

  --gris-muyclaro: #f4f4f4;
  --gris-claro: #e2e2e2;
  --gris-medio: #adadad;
  --gris-fuerte: #525252;

  --fauna: "Fauna One", serif;
  --sans: 'Source Sans Pro', sans-serif;

  --border-radiusgeneral: 30px;
  --punteada: 2px dashed var(--rojo-medio);
}

body {
  margin: 0 auto;
  color: var(--negro);
  font-family: var(--sans);
  font-size: 19px;
  line-height: 25px;
  font-weight: 300;
  overflow-x: hidden;
  background-color: var(--blanco);
}

img {
	max-width: 100%;
  height: auto;
  display: block;
}

h1 {
	width: auto;
	display: inline-block;
	font-size: 2.8rem;
  line-height: 3rem;
	font-family: var(--fauna);
	margin: 0px;
}

h2 {
	width: auto;
	display: inline-block;
	font-family: var(--fauna);
	font-size: 1.5rem;
  line-height: 2rem;
	font-weight: 700;
}

h3 {
	width: auto;
	display: inline-block;
	font-family: var(--sans);
	font-size: 1.3rem;
  line-height: 1.6rem;
  font-weight: 600;
}

h4 {
	width: auto;
	display: inline-block;
	font-family: var(--sans);
}

h5 {
	width: auto;
	display: inline-block;
	font-family: var(--sans);
}

h6 {
	width: auto;
	display: inline-block;
	font-family: var(--sans);
}


a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

strong {
	font-weight: 700;
}

em {
	font-style: italic;
}

section {
	/*padding: 0 15px;*/
}

article {
	margin: 20px 0
}

article img {
	margin: 40px 0 10px
}

.container {
	max-width: 100%;
	padding: 0;
}

.skin-container {
	width:-webkit-fill-available;width:-moz-available;
	display: block;
	background-color: var(--blanco);
	height: auto;
}

.DisplayNone {
	display: none;
}

.progress-container {
	width: 100%;
	height: 3px;
	background-color: var(--gris-muyclaro);
}

.progress-bar {
	height: 3px;
	background-color: var(--rojo-cv);
	width: 0
}

.AllBanners {
    width: auto;
    height: auto;
    text-align: center;
    margin: 10px 0;
}

.txtPublicidadVideoteca {
    width: auto;
    display: inline-block;
    font-size: .9rem;
    line-height: 1rem;
    color: #9a9a9a;
    padding-bottom: 2px;
    border-bottom: 1px solid #bfbfbf;
    margin: 0 0 6px 0;
}

.banner-mob {
    display: none;
}

.publicidad {
	display: inline-block;
	width: 100%;
	margin: 10px 0;
	background: #FFF
}

.leader {
	width: auto;
	margin: 0 auto;
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
}

.box {
	height: auto;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	display: flex;
  align-items: center;
  justify-content: center;
}

.half {
	height: 600px;
	width: 300px;
	margin: 0 auto;
	display: flex;
  align-items: center;
  justify-content: center;
}

.stickyBanner {
	position: fixed;
	z-index: 31;
	bottom: 0;
	width: 100%;
	padding: 20px 20px 0;
	display: none;
}

.closeSticky {
	float: right;
	padding: 11px;
	background: #e1e0e0;
	border-top-left-radius: 53px;
	border-top-right-radius: 53px;
}

.closeSticky:hover {
	color: #fffefe;
}

.imgSticky {
	width: 100%;
	background: #e1e0e0;
	float: left;
	text-align: center;
}

#div-gpt-ad-native {
    display: flex;
    align-items: center;
    justify-content: center;
}

.col-native {
  width: -webkit-fill-available;
  width: -moz-available;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

#mc_embed_signup div.mce_inline_error {
    background-color: #ffffff4d!important;
    color: #ff152c!important;
    position: absolute!important;
    bottom: -9px!important;
    border-radius: 20px!important;
}

.slick-next:before {
    display: none;
}
.slick-prev:before {
    display: none;
}











@media (min-width: 576px) {
	.container{
	max-width: 100%;
}
}

@media (min-width: 768px) { 
	.container{
	max-width: 100%;
}
}

@media (min-width: 992px) {
	.container{
	max-width: 1140px;
}
}

@media (min-width: 1200px) {
  .container{
	max-width: 1140px;
}
}

@media (min-width: 1400px) {
	.container{
	max-width: 1140px;
}
}

